huggingface_hub
tensorflow[cpu]
sentence-transformers #For HuggingFaceEmbeddings
#openai==0.28.1
chromadb==0.4.16

#langchain==0.0.332
#langchain-community
langchain-community==0.0.28
langchain-openai==0.0.8
langchain==0.1.11

tiktoken

#below ones are required when creating embeddings, not needed when using saved embeddings
#bs4  
#requests

#add lines below for streamlit 
streamlit
streamlit-authenticator
pysqlite3-binary

#Try commands in colab notebook to check package versions
#import package
#name_of_module.__version__
#Example:
#import langchain
#langchain.__version__
