huggingface_hub
tensorflow[cpu]
sentence-transformers #For HuggingFaceEmbeddings
openai 
chromadb
langchain
tiktoken
streamlit
#below ones are required when creating embeddings, not needed when using saved embeddings
#bs4  
#requests
