huggingface_hub
tensorflow[cpu]
sentence-transformers #For HuggingFaceEmbeddings
openai==0.28.1
chromadb
langchain=0.0.330
tiktoken

#below ones are required when creating embeddings, not needed when using saved embeddings
#bs4  
#requests

#add lines below for streamlit 
streamlit
streamlit-authenticator
pysqlite3-binary

#pur bring all the dependencies listed in requirements.txt to their latest version
pur
